<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrepExam-Aix - Révisez (ou pas) !</title>
    <link rel="stylesheet" href="../assets/css/spam.css">
</head>
<body>

    <div class="main-warning">
        <marquee scrollamount="25">⚠️ FÉLICITATIONS ! TU ES LE 1 954 542e VISITEUR ! 🎉 CLIQUE ICI POUR SAUVER TON PARTIEL ! ⚠️</marquee>
    </div>

    <main class="spam-container" id="spam-area" onclick="handleDocumentClick(event)">

        <div class="ad-card secret-ad" id="secret-link" style="z-index: 1;">
            <div class="ad-header">
                <span>SYSTEM_OVERRIDE</span>
                <span class="close-btn" onclick="hideAd(this)">X</span>
            </div>
            <div class="ad-body">
                <p>PARAMÈTRES SYSTÈME</p>
                <p class="big-text">ACCÈS ADMINISTRATEUR</p>
                <button onclick="accessSecret()" style="background: lime; color: black; border-color: darkgreen;">LANCER LE FIREWALL</button>
            </div>
        </div>

    </main>

    <footer class="main-footer">
        <p>Challenge 48h - Partie 2</p>
    </footer>

    <audio id="error-sound" src="https://www.myinstants.com/media/sounds/windows-xp-error.mp3" preload="auto"></audio>

    <script src="../src/js/spam-utils.js"></script>
</body>
</html>
