<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification Copier-Coller (SO)</title>
    <link rel="stylesheet" href="../assets/css/qcm-stackoverflow.css">
    <script src="../src/qcm-stackoverflow.js" defer></script>
</head>
<body>
    <header>
        <h1>Certification Copier-Coller (SO) </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Que faire face à une erreur 'Uncaught TypeError' ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Lire patiemment la trace de la console</label><br><label><input type="radio" name="q0" value="1"> B. Appeler sa maman en pleurant</label><br><label><input type="radio" name="q0" value="2"> C. Copier-coller l'erreur sur Google et prendre le 1er bloc de code vert sans le lire</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Quelle est la définition de 'Refactoriser' ?</h3>
            <label><input type="radio" name="q1" value="0"> A. Casser un code qui marchait très bien juste pour qu'il soit 'plus joli'</label><br><label><input type="radio" name="q1" value="1"> B. Optimiser la complexité algorithmique</label><br><label><input type="radio" name="q1" value="2"> C. Renommer 'var1' en 'var2'</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Comment tester votre code ?</h3>
            <label><input type="radio" name="q2" value="0"> A. Avec des tests unitaires et d'intégration</label><br><label><input type="radio" name="q2" value="1"> B. Je déploie en prod à 17h59 un vendredi, les utilisateurs testeront</label><br><label><input type="radio" name="q2" value="2"> C. 'console.log(ça marche)'</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>