<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agilité & Réunions Inutiles</title>
    <link rel="stylesheet" href="../assets/css/qcm-scrum.css">
    <script src="../src/qcm-scrum.js" defer></script>
</head>
<body>
    <header>
        <h1>Agilité & Réunions Inutiles </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Quel est le but d'un Daily Scrum ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Se synchroniser avec l'équipe</label><br><label><input type="radio" name="q0" value="1"> B. Répéter : 'J'ai fini le ticket d'hier, je m'attaque à celui d'aujourd'hui'</label><br><label><input type="radio" name="q0" value="2"> C. Fixer son café en essayant de rester éveillé</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Comment estimer les 'Story Points' ?</h3>
            <label><input type="radio" name="q1" value="0"> A. En fonction de la complexité technique</label><br><label><input type="radio" name="q1" value="1"> B. Au doigt mouillé 5 min avant le Sprint Planning</label><br><label><input type="radio" name="q1" value="2"> C. En disant le même chiffre que le Tech Lead</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. À quoi sert une rétrospective ?</h3>
            <label><input type="radio" name="q2" value="0"> A. Améliorer nos process</label><br><label><input type="radio" name="q2" value="1"> B. Manger les chouquettes de l'entreprise</label><br><label><input type="radio" name="q2" value="2"> C. Se plaindre du client pendant 2h sans rien changer derrière</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>