<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS : Lart de tout casser</title>
    <link rel="stylesheet" href="../assets/css/qcm-css.css">
    <script src="../src/qcm-css.js" defer></script>
</head>
<body>
    <header>
        <h1>CSS : Lart de tout casser </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Comment centrer un div verticalement ?</h3>
            <label><input type="radio" name="q0" value="0"> A. display: flex; align-items: center;</label><br><label><input type="radio" name="q0" value="1"> B. On ne le fait pas, c'est un mythe</label><br><label><input type="radio" name="q0" value="2"> C. margin-top: 48.7%; // à peu près, ça passait sur mon écran</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. À quoi sert '!important' ?</h3>
            <label><input type="radio" name="q1" value="0"> A. À gérer les priorités du cache</label><br><label><input type="radio" name="q1" value="1"> B. À prouver à ce maudit navigateur qui est le patron</label><br><label><input type="radio" name="q1" value="2"> C. À rien</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Votre z-index ne marche pas. Que tapez-vous ?</h3>
            <label><input type="radio" name="q2" value="0"> A. z-index: 10;</label><br><label><input type="radio" name="q2" value="1"> B. z-index: 9999999999999;</label><br><label><input type="radio" name="q2" value="2"> C. Je change de métier</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>