<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS : Le Royaume Incompris</title>
    <link rel="stylesheet" href="../assets/css/qcm-javascript.css">
    <script src="../src/qcm-javascript.js" defer></script>
</head>
<body>
    <header>
        <h1>JS : Le Royaume Incompris </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Que vaut '[] + []' en JavaScript ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Un tableau vide</label><br><label><input type="radio" name="q0" value="1"> B. L'infini</label><br><label><input type="radio" name="q0" value="2"> C. Une chaîne de caractères vide (c'est illogique mais oui)</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Comment vérifier si une variable est définie ?</h3>
            <label><input type="radio" name="q1" value="0"> A. if (typeof var !== 'undefined')</label><br><label><input type="radio" name="q1" value="1"> B. if (var)</label><br><label><input type="radio" name="q1" value="2"> C. On prie pour qu'elle le soit sans vérifier</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Quelle est la particularité de JavaScript ?</h3>
            <label><input type="radio" name="q2" value="0"> A. Typage statique fort</label><br><label><input type="radio" name="q2" value="1"> B. Multithreading natif</label><br><label><input type="radio" name="q2" value="2"> C. '0 == false' est vrai, mais '0 === false' est faux</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>