<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python : L'Élite du Serpent</title>
    <link rel="stylesheet" href="../assets/css/qcm-python.css">
    <script src="../src/qcm-python.js" defer></script>
</head>
<body>
    <header>
        <h1>Python : L'Élite du Serpent </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Le plus grand frisson en Python ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Utiliser l'IA</label><br><label><input type="radio" name="q0" value="1"> B. Mélanger accidentellement un espace et une tabulation à la ligne 412</label><br><label><input type="radio" name="q0" value="2"> C. Oublier un deux-points ':'</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Pourquoi utiliser Python ?</h3>
            <label><input type="radio" name="q1" value="0"> A. Pour sa syntaxe lisible</label><br><label><input type="radio" name="q1" value="1"> B. Pour ses lib de Data</label><br><label><input type="radio" name="q1" value="2"> C. Parce que je n'arrive pas à comprendre comment typer une variable en C++</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Comment optimiser un script Python lent ?</h3>
            <label><input type="radio" name="q2" value="0"> A. Utiliser CPython</label><br><label><input type="radio" name="q2" value="1"> B. Réécrire en Rust</label><br><label><input type="radio" name="q2" value="2"> C. Acheter un PC plus puissant</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>