<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML : Le Vrai Hacking</title>
    <link rel="stylesheet" href="../assets/css/qcm-html.css">
    <script src="../src/qcm-html.js" defer></script>
</head>
<body>
    <header>
        <h1>HTML : Le Vrai Hacking </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. HTML est-il un langage de programmation ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Non, juste un balisage</label><br><label><input type="radio" name="q0" value="1"> B. Oui et je me considère comme Software Engineer Architect HTML5</label><br><label><input type="radio" name="q0" value="2"> C. C'est du design</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. La meilleure balise jamais inventée ?</h3>
            <label><input type="radio" name="q1" value="0"> A. <div></label><br><label><input type="radio" name="q1" value="1"> B. <canvas></label><br><label><input type="radio" name="q1" value="2"> C. <marquee> pour du texte clignotant qui donne la nausée</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. La meilleure façon de faire une mise en page en 2026 ?</h3>
            <label><input type="radio" name="q2" value="0"> A. CSS Grid</label><br><label><input type="radio" name="q2" value="1"> B. Flexbox</label><br><label><input type="radio" name="q2" value="2"> C. Un énorme <table> imbriqué dans 4 autres <table> comme en 2004</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>