<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM de Survie Extrême : VIM</title>
    <link rel="stylesheet" href="../assets/css/qcm-vim.css">
    <script src="../src/qcm-vim.js" defer></script>
</head>
<body>
    <header>
        <h1>QCM de Survie Extrême : VIM </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. La question classique : Comment quitter Vim ?</h3>
            <label><input type="radio" name="q0" value="0"> A. :wq</label><br><label><input type="radio" name="q0" value="1"> B. Couper le disjoncteur principal du bâtiment</label><br><label><input type="radio" name="q0" value="2"> C. Laisser l'ordi allumé jusqu'à la fin des temps et en racheter un autre</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Comment copier une ligne ?</h3>
            <label><input type="radio" name="q1" value="0"> A. Taper 'yy'</label><br><label><input type="radio" name="q1" value="1"> B. Prendre son écran en photo avec son téléphone</label><br><label><input type="radio" name="q1" value="2"> C. Ctrl+C en hurlant sur le clavier</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Vous avez tapé ':q!'. Que se passe-t-il ?</h3>
            <label><input type="radio" name="q2" value="0"> A. On quitte sans sauvegarder</label><br><label><input type="radio" name="q2" value="1"> B. Un trou noir s'ouvre sous votre bureau</label><br><label><input type="radio" name="q2" value="2"> C. Rien, car vous êtes coincé en mode Insertion depuis 3 heures</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>