<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP : L'Immortel</title>
    <link rel="stylesheet" href="../assets/css/qcm-php.css">
    <script src="../src/qcm-php.js" defer></script>
</head>
<body>
    <header>
        <h1>PHP : L'Immortel </h1>
        <p>Le seul QCM où la pire pratique est toujours la bonne réponse.</p>
    </header>
    <main>
        <form id="qcm-form">
            
        <div class="question">
            <h3>Question 1. Quand PHP va-t-il vraiment mourir ?</h3>
            <label><input type="radio" name="q0" value="0"> A. Dans deux ans, c'est sûr</label><br><label><input type="radio" name="q0" value="1"> B. Il est déjà mort en 2012 selon Twitter</label><br><label><input type="radio" name="q0" value="2"> C. Jamais, en l'an 3420 PHP 47 gérera la galaxie</label><br>
        </div>
    
        <div class="question">
            <h3>Question 2. Comment sécuriser une requête SQL ?</h3>
            <label><input type="radio" name="q1" value="0"> A. PDO et requêtes préparées</label><br><label><input type="radio" name="q1" value="1"> B. addslashes() partout au pif</label><br><label><input type="radio" name="q1" value="2"> C. Laisser 'root' sans mot de passe, c'est plus simple</label><br>
        </div>
    
        <div class="question">
            <h3>Question 3. Qu'est-ce qu'un développeur PHP ?</h3>
            <label><input type="radio" name="q2" value="0"> A. Quelqu'un qui fait des sites web</label><br><label><input type="radio" name="q2" value="1"> B. Un architecte backend</label><br><label><input type="radio" name="q2" value="2"> C. Une personne qui a un blog WordPress et pense savoir coder</label><br>
        </div>
    
            <button type="button" id="valider-btn">Valider mon incompétence</button>
        </form>
        <div id="result" class="hidden"></div>
    </main>
    <footer>
        <p>Challenge 48h</p>
    </footer>
</body>
</html>